// Spacing
//––––––––––––––––––––––––––––––––––––––––––––––––––

button,
.button {
  margin-bottom: $line-height;
}

input,
textarea,
select,
fieldset {
  margin-bottom: $line-height;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: $line-height;
}

pre,
blockquote {
  margin-top: 0;
}
